<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LeadGenerator"
            connectionString=
              "Data Source=localhost;Initial Catalog=Chapter12;Integrated Security=True"
              providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>