<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LeadGenerator" connectionString="Data Source=localhost;Initial Catalog=Chapter13;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LeadGenerator.Properties.Settings.Chapter11ConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Chapter11;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LeadGenerator.Properties.Settings.Chapter13ConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Chapter13;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>