<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Branch Name" value="Southwest Regional"/>
    <add key="ID" value="{CA62F4ED-FACF-4835-8468-16CAAC298F4C}"/>
    <add key="Address" value="8730"/>
    <add key="Request Address" value="8000"/>
  </appSettings>
</configuration>
